<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Skolo</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">

  </head>
  <body>
    <div class="container">
      <h1>This is Skolo</h1>
      <p>Let is start building this school</p>
      <p>Are you ready to learn some amazing things?</p>
    </div>
  </body>
</html>
